<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How We Can Help You</h2>
                <hr class="light">
                <p class="text-faded">
                  Our <b>extensive knowledge of Building Code and Zoning Resolution issues</b>
                  empowers our clients with accurate and timely information
                  from both the Department of Buildings and the City of New York.
                </p>

                <p class="text-faded">
                  We are committed to creating <b>architecture that stimulates and inspires</b>.
                  As the meaning of <b>green architecture and sustainable design</b> has evolved,
                  Building Engineering Systems has remained at the forefront of the dialogue.
                </p>

                <p class="text-faded">
                  Our team is always ready to assist you with your projects and various needs.
                  Schedule an appointment to consult with one of our experienced Project Leaders today.

                </p>
                <a href="#contact" class="page-scroll btn btn-default btn-xl">Hire Us!</a>
            </div>
        </div>
    </div>
</section>
