<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-exclamation-triangle wow bounceIn text-primary"></i>
                    <h3>Building Violations</h3>
                    <p class="text-muted">
                      Our expert attornies will prepare a valid defense on your behalf,
                      including obtaining necessary blueprints and permits,
                      as well as assistance in showing good faith in actions taken to remedy the situation.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shower wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Plumbing</h3>
                    <ul class="text-muted services">
                      <li>LAA</li>
                      <li>RPZ valve replacement & installation</li>
                      <li>Defective pipes</li>
                      <li>New mains</li>
                      <li>New bathrooms</li>
                      <li>Boiler installation and repair</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plug wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Electric Work</h3>
                    <ul class="text-muted services">
                      <li>Pre & post purchase inspections</li>
                      <li>Violation removal</li>
                      <li>New Construction</li>
                      <li>Extensions & conversions</li>
                      <li>New meters</li>
                      <li>HVAC controls</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>RPZ Compliance & Installation</h3>
                    <p class="text-muted">
                      Our professional engineers will file an application with the DEP,
                      and determine the type and size of RPZ device to be installed.
                      Our master plumbers are also available for installation and repair of any devices.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
